h1 {
    font-size: 200px;
  }
  h2 {
    color: white;
    font-size: 3em;
    margin-top: 10%;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    background-color: #000;
  }
  
  h1 {
    font-family: Arial;
    color: #0D60B1;
    text-align: center;
  }
  
  .grid1 {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 100px;
  }
  .grid2 {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 100px;
    margin-bottom: 10%;
  }
  
  .video-grid {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.3s ease;
  }
  
  #image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  #image-container img.active {
    opacity: 1;
  }
  
  #Imagen1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  #Imagen2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  #Imagen3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  #Imagen4 {
    grid-area: 1 / 4 / 2 / 5;
  }
  
  #feme1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  #feme2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  #feme3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  #feme4 {
    grid-area: 1 / 4 / 2 / 5;
  }
  
  
  .image-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  .image-grid:hover {
    transform: scale(1.2);
    z-index: 2;
    opacity: 1;
  }
  
  .image-grid1 {
    width: 100%;
    vertical-align: top;
    transition: transform 0.3s ease;
    opacity: 0.7;
    position: relative;
    z-index: 1;
  }
  
  .image-grid1:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
    z-index: 2;
  }
  
  .image-grid2 {
    width: 100%;
    vertical-align: top;
    transition: transform 0.3s ease;
    opacity: 0.7;
    position: relative;
    z-index: 1;
  }
  
  .image-grid2:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
    z-index: 2;
  }
  
  
